nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navHeight);
    z-index: 1000;
    background-color: aliceblue;
}

nav > ul {
    padding-right: 3rem;
    padding-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    height: var(--navHeight);
}

nav > ul > li {
    line-height: var(--navHeight);
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    height: var(--navHeight);
}

nav > ul > li:hover {
    cursor: pointer;
    background-color: #eee;
}